<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eater</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="../images/favicon.ico">
	<!--link rel="stylesheet" href="../styles/normalize.css">
	<link rel="stylesheet" href="../styles/main.css"-->
	<script src="../javascript/menu.js"></script>
	<script src="../javascript/orders.js"></script>
	<script src="../javascript//sampledata.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<img class="navbar-brand" height="50px" src="../images/touchlesslogo.png"
					alt="Food Ordering System Icon" />

				<a class="navbar-brand">Eater Food Ordering System</a>
			</div>
		</nav>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
			<partial name="_LoginPartial" />
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a href="UpdateInfo" class="nav-link text-dark">Update Information</a>
				</li>
				<li class="nav-item">
					<a href="menu" class="nav-link text-dark">Menu</a>
				</li>
				<li class="nav-item">
					<a href="Orders" class="nav-link text-dark">Orders</a>
				</li>
				<li>
					<a href="LogOut" class="nav-link text-dark">Logout</a>
				</li>
				<li>
					<a href="about" class="nav-link text-dark">About</a>
				</li>
			</ul>
		</div>
		</div>
		</nav>
	</header>