<%-include('header')-%>
<main>
        <section>
            <h3>
                <u>
                    Registered User
                </u>
            </h3>
            <form method="POST" action="">

                <label for="email"><b> Email</b></label>
                <input class="inputbox" type="text" name="email" id="email">
                <div class="error">
                    <% if(typeof message!="undefined"){ %>
                    <%= message %>
                    <% } %>
                </div>

                <br>
                <label for="password"><b> Password</b></label>
                <input class="inputbox" type="password" name="password" id="password">
                <div class="error">
                    <% if(typeof message!="undefined"){ %>
                    <%= message %>
                    <% } %>
                </div>
                <br>
                <input class="formbutton" type="submit" class="SignIn" value="Sign In">

            </form>
            <br><br>
            <div id="forgetpassword">
                <a href="">Forget your Passowrd?</a>
            </div>
            <h3><u>New User</u></h3>
            <div id="register">
                <button onclick="window.location.href='/RegisterForm';" id="registerbutton">
                    Register(restaurant)
                </button>
                <button onclick="window.location.href='/RegisterFormCustomer';" id="registerbutton">
                    Register(customers)
                </button>
                <button onclick="window.location.href='/RegisterFormDeliveryPerson';" id="registerbutton">
                    Register(Delivery Person)
                </button>
            </div>
        </section>
    </main>
</body>

</html>