<!--<%- include('header') -%>
<link rel="stylesheet" href="styles/login.css">
<script src="javascript/login.js"></script>
<table class="formtable">
    <tr>
        <th> Welcome </th>
    </tr>
    <tr>
        <td>Are you a restaurant owner? Signup to create an online menu for your
            restaurant to allow your customers to place online orders </td>
    </tr>
</table>

</Header>
<main>
    <section>
        <h3>
            <u>
                Registered User
            </u>
        </h3>
        <form method="GET" action="Orders" onsubmit="return validationFunction()">

            <label for="email"><b> Email</b></label>
            <input class="inputbox" type="text" name="email" id="email">
            <label class="labelerror" id="emailError">**Enter valid E-mail address</label>
            <br>
            <label for="password"><b> Password</b></label>
            <input class="inputbox" type="password" name="password" id="password">
            <label class="labelerror" id="passwordError">**Enter atleast 8 characters</label>
            <br>
            <input class="formbutton" type="submit" class="SignIn" value="Sign In">

        </form>
        <br><br>
        <div id="forgetpassword">
            <a href="">Forget your Passowrd?</a>
        </div>
        <h3><u>New User</u></h3>
        <div id="register">
            <button onclick="window.location.href='/RegisterForm';" id="registerbutton">
                Register
            </button>
        </div>
    </section>
</main>
</body>

</html>-->