main section
{
    width: 850px;
}
button
{
    text-align: center;
    padding: 6px 44px;
}
#register
{
    text-align: center;
    margin: 10px;
}
#forgetpassword
{
 text-align: center;
}
input[type="submit"]
{
    position: relative;
    left: 130px;   
}
.error
{
    width: 200px;
    color: red;
    position: relative;
    bottom :32px;
    left: 400px;
    font-weight: normal;
}