<!-- Eater Food Ordering System     ------------------------------------------>
<!-- PROG8020-20S Programming Web Foundation Design and Development ---------->
<!-- Assignment-1 ------------------------------------------------------------>
<!-- Group-5 Team Members: Ankit Waliya, Nasarinbahen Kureshi,Neelam, Tommy -->
<!-- Page: About    ---------------------------------------------------------->
<!-- Revision History -------------------------------------------------------->
<!-- Version     Date     Action   Member                Detail -------------->
<!-- 1.0     06/14/2020  Created  Nasarinbahen Kureshi Initial Template ------>
<!-- 2.0     06/14/2020  Updated  Ankit Waliya  ------------------------------>
	<%- include('header') -%>
	
	<link rel="stylesheet" href="../styles/about.css" >
   
	<main>
		<section>
			<h1><u>About Us</u></h1>
			<h3>This Project is done by Conestoga College Computer Application Development Program Students.
				As part of their Course PROG8020 Assignment. Project team consists of 4 students from the class.
			</h3>
			<br>			
			<h4>Nasarinbahen Kureshi </h4>			
            <h4>Ankit Walia </h4>
            <h4>Subha Thirumugam</h4>
        </section>
	</main>
  </body>
</html>