<%- include('customerHeader') -%>

<% 
var inputNameError = '';
var inputPriceError = '';
var inputAvailableError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'inputName'){
            inputNameError += error.msg;
		}
		if(error.param === 'inputPrice'){
            inputPriceError += error.msg;
		}
		if(error.param === 'inputAvailable'){
            inputAvailableError += error.msg;
        }
    }
} 
%>
<!--
	<link rel="stylesheet" href="../styles/AddNewItemForm.css">
-->
<script src="../javascript/MenuManagement.js"></script>
<script src="../javascript//sampledata.js"></script>
<div class="col-md-6 ">
    <h4>Order Food</h4>
</div>
<main>
    <section>
        <div class="row-text-align-center">
            <div class="col-sm-4">
                <form method="POST" action="">

                    <div class="form-group">
                        <label class="control-label" for="customerName">Customer Name</label>
                        <input class="form-control" type="text" name="customerName" id="customerName">
                        <% if(inputNameError != '') { %> <label class="text-danger"><%-inputNameError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phoneNumber">Phone Number</label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber">
                        <% if(inputNameError != '') { %> <label class="text-danger"><%-inputNameError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputDescription">Cuisine</label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputDescription">Restaurant Name</label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="customerName">Order Number</label>
                        <input class="form-control" type="text" name="customerName" id="customerName" readonly>
                        <% if(inputNameError != '') { %> <label class="text-danger"><%-inputNameError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phoneNumber">Order Status</label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" readonly>
                        <% if(inputNameError != '') { %> <label class="text-danger"><%-inputNameError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="deliveryOption">Delivery Option</label>
                        <select class="form-control" id="deliveryOption">
                            <option value="homeDelivery">Home Delivery</option>
                            <option value="pickupInRestaurant">Pickup In Restaurant</option>
                            <option value="pickupInParkingLot">Pickup In Parking Lot</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phoneNumber">Delivery Location</label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber">
                        <% if(inputNameError != '') { %> <label class="text-danger"><%-inputNameError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phoneNumber">Vehicle Number</label>
                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber">
                        <% if(inputNameError != '') { %> <label class="text-danger"><%-inputNameError %></label> <% } %>
                    </div>
                    <div class="col-md-6 ">
                        <h4>Menu Items</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <p id="menu"></p>
                            <tbody>
                                <% var itemnum = 1;
                                var i = 1;
                                for (i=1;i<=10;i++)
                                { %>
                                <tr>
                                    <th scope="row"><%= i++ %></th>
                                    <td><%= "Item Number" %></td>
                                    <td><input class="form-control" type="text" name="phoneNumber" id="phoneNumber">  </td>
                                    <td>$<%= "Description" %></td>
                                    <td><%= "Price" %></td>
                                </tr><%
                                 }	%>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputPrice">Sub Total</label>
                        <input class="form-control" type="text" id="inputPrice" name="inputPrice"
                            placeholder="Enter the price(number)" readonly>
                        <% if(inputPriceError != '') { %> <label class="text-danger"><%-inputPriceError %></label>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputPrice">Tax</label>
                        <input class="form-control" type="text" id="inputPrice" name="inputPrice"
                            placeholder="Enter the price(number)" readonly>
                        <% if(inputPriceError != '') { %> <label class="text-danger"><%-inputPriceError %></label>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputPrice">Total</label>
                        <input class="form-control" type="text" id="inputPrice" name="inputPrice"
                            placeholder="Enter the price(number)" readonly>
                        <% if(inputPriceError != '') { %> <label class="text-danger"><%-inputPriceError %></label>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" name="submit" value="Update My Order">
					</div>
				</form>
			</div>
		</div>
	</section>
</main>
</body>

</html>