<%- include('deliveryPersonHeader') -%>
<div class="col-md-6 ">
	<h4>Create Delivery Request</h4>
</div>
<main>
	<section>
		<div class="row-text-align-center">
			<div class="col-sm-4">
				<form method="POST" action="">
					<div class="form-group">
						<label class="control-label" for="orderNumber">Order Number</label>
						<input class="form-control" type="text" name="oderNumber" id="orderNumber">
					</div>
					<div class="form-group">
						<label class="control-label" for="customerName">Customer Name</label>
						<input class="form-control" type="text" name="customerName" id="customerName">
					</div>
					<div class="form-group">
						<label class="control-label" for="pickupTime"><b>Expected Pickup Time</b></label>
						<input class="form-control" type="text" id="pickupTime" name="pickupTime">
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryTime"><b>Expected Delivery Time</b></label>
						<input class="form-control" type="text" id="deliveryTime" name="deliveryTime">
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryVehicle"><b>Delivery Vehicle Number</b></label>
						<input class="form-control" type="text" id="deliveryVehicle" name="deliveryVehicle"
							placeholder="Enter the Delivery Vehicle(number)">
					</div>
					<div class="form-group">
						<input class="btn btn-primary" type="submit" name="submit" value="Update">
					</div>
				</form>
			</div>
		</div>
	</section>
</main>
</body>

</html>