<%- include('header') -%>
<%- include('dashboardheader') -%>
<% 
var inputNameError = '';
var inputPriceError = '';
var inputAvailableError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'inputName'){
            inputNameError += error.msg;
		}
		if(error.param === 'inputPrice'){
            inputPriceError += error.msg;
		}
		if(error.param === 'inputAvailable'){
            inputAvailableError += error.msg;
        }
    }
} 
%>
		<link rel="stylesheet" href="../styles/AddNewItemForm.css">
		<script src="../javascript/MenuManagement.js"></script>
		<script src="../javascript//sampledata.js"></script>
		<table class="formtable">
			<tr>
				<th> Update Menu Item </th>
			</tr>
		</table>
	</header>
	<main>
		<section>
			<form method="POST" action="UpdateItem" >
				
			<br>
			<label>Restaurant Name</label>
			<label> <%=UpdateMenu.restaurantName%></label>
			<br>
			<label>Item Name</label>
			<label><%=UpdateMenu.Item%></label>
          <br>
		
			<br>			
				<label for="inputDescription"><b>Item Description (Optional)</b></label>
				<Textarea name="inputDescription" id="inputDescription" cols="23" rows="5"
					placeholder="Enter the description.."><%=UpdateMenu.Description%> <%=UpdateMenu.Item%></textarea>
				<br>				
				<label for="inputPrice"><b>Price</b></label>
				<input class="inputbox" type="text" id="inputPrice" name="inputPrice"
					placeholder="Enter the price(number)" value=<%=UpdateMenu.Price%>>
					<% if(inputPriceError != '') { %> <label id="labelerror"><%-inputPriceError %></label> <% } %>
				<br>
				<label for="inputAvailable"><b>Available</b></label>
				<select class="inputbox" id="inputAvailable" required value=<%=UpdateMenu.Available%>>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
				<% if(inputAvailableError != '') { %> <label id="labelerror"><%-inputAvailableError %></label> <% } %>
				<br>
				<label></label>
				<input class = "formbutton" type="submit" name="submit" value="Update">		
		
			<br><br>
			</form>		
		</section>
	</main>
</body>
</html>
