<%- include('restaurantHeader') -%>
<!--
  
<link rel="stylesheet" href="styles/login.css" >
-->

<script src="javascript/login.js"></script>
<div class="col-md-6 ">
    <h4>Welcome</h4>
    <p>Are you a restaurant owner? Signup to create an online menu for your
        restaurant to allow your customers to place online orders</p>
</div>

<main>
    <section>
        <div class="col-md-6 ">
            <h4>Registered User</h4>
        </div>

        <div class="row-text-align-center">
            <div class="col-sm-4">
                <form method="GET" action="restaurantViewOrders" onsubmit="return validationFunction()">
                    <div class="form-group">
                        <label class="control-label" for="email"><b> Email</b></label>
                        <input class="form-control" type="text" name="email" id="email">
                        <label class="text-danger" id="emailError">**Enter valid E-mail address</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password"><b> Password</b></label>
                        <input class="form-control" type="password" name="password" id="password">
                        <label class="text-danger" id="passwordError">**Enter atleast 8 characters</label>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" class="SignIn" value="Sign In">
                    </div>
                </form>
            </div>
        </div>
        <div id="forgetpassword">
            <a href="">Forget your Passowrd?</a>
        </div>
        <div class="col-md-6 ">
            <h4>New User</h4>
            <div class="form-group">
                <input class="btn btn-primary" value="Register" onclick="window.location.href='/restaurantRegister';"  id="registerbutton">
            </div>
        </div>
    </section>
</main>
</body>
</html>