
		<%- include('restaurantHeader') -%>
		<div class="col-md-6 ">
			<h4>Menu Items</h4>
		</div>
		<div class="table-responsive-sm">

		<table class="table" >
			<thead>
		<tr >
			<th scope="col">#</th>
			<th scope="col">Item Number</th>
			<th scope="col" >Name</th>
			<th scope="col">Description</th>
			<th scope="col">Price</th>
			<th scope="col">Available</th>
			<th scope="col">Options</th>
		</tr>
			</thead>
	<p id="menu"></p>
	<tbody>

	
	<% var itemnum = 1;
	var i = 1;
	for (i=1;i<=10;i++)
				{ %>
					<tr>
						<th scope="row"><%= i++ %></th>
						<td><%= "Item Number" %></td>
						<td><%= "Item" %></td>
						<td >$<%= "Description" %></td>
						<td><%= "Price" %></td>
						<td><%= "Available" %></td>
						<td><a href="#"> Edit</a><a href="#"> Delete</a></td>
					</tr><%
				}
	if(typeof items != 'undefined' && items.length > 0) {
	for (let item of items){
		%><tr>
			<th scope="row">i++</th>
			<td ><%=itemnum++;%></td>
			<td><%= item.Item %></td>
			<td><%=item.Description%></td>
			<td >$<%= item.Price %></td>
			<td> <%= item.Available %></td>
			 <td><a href="edit?id=<%=item.id%>" > edit</a>
			<a href="delete?id=<%=item.id%>">delete</a></td>
		</tr>
		<%}	
	}	%></tbody>
</table>
		</div>
<footer>
	<div class="form-group">
		<input class="btn btn-primary" type="submit" id="submit" name="submit" value="Add Item">
	</div>
	
	
</footer>
</body>
</html>