<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <!--<link rel="stylesheet" href="../styles/normalize.css">
	<link rel="stylesheet" href="../styles/main.css">  -->
    <script src="../javascript/menu.js"></script>
    <script src="../javascript/orders.js"></script>
    <script src="../javascript//sampledata.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <img class="navbar-brand" src="../images/touchlesslogo.png" alt="Club Icon" />
                <a class="navbar-brand">Eater Food Ordering System</a>
            </div>
        </nav>
       
    </header>
    <main>
        <section>
            <div class="row-text-align-center">
                <div class="col-sm-4">
                    <form method="POST" action="">
                        <div class="form-group">
                            <a href="/Customer/customerLogin" class="btn btn-info" role="button">Customer</a>
                        </div>
                        <div class="form-group">
                            <a href="/restaurantLogin" class="btn btn-info" role="button">Restaurant</a>
                        </div>
                        <div class="form-group">
                            <a href="/deliveryPersonLogin" class="btn btn-info" role="button">DeliveryPerson</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>