<%- include('header') -%>
<%- include('dashboardheader') -%>
<% 
var inputNameError = '';
var inputPriceError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'inputName'){
            inputNameError += error.msg;
		}
		if(error.param === 'inputPrice'){
            inputPriceError += error.msg;
		}
    }
} 
%>
<link rel="stylesheet" href="../styles/AddNewItemForm.css">
<script src="../javascript/MenuManagement.js"></script>
<script src="../javascript//sampledata.js"></script>
<table class="formtable">
	<tr>
		<th> Add New Menu Item </th>
	</tr>
</table>
</header>
<main>
	<section>
		<form method="POST" action="">
			<br>
			<label for="inputName">Menu item</label>
			<input class="inputbox" type="text" name="inputName" id="inputName">
			<% if(inputNameError != '') { %> <label id="labelerror"><%-inputNameError %></label> <% } %>
			<br>
			<label for="inputDescription"><b>Item Description (Optional)</b></label>
			<Textarea name="inputDescription" id="inputDescription" cols="23" rows="5"
				placeholder="Enter the description.."></textarea>
			<br>
			<label for="inputPrice"><b>Price</b></label>
			<input class="inputbox" type="text" id="inputPrice" name="inputPrice" placeholder="Enter the price(number)">
			<% if(inputPriceError != '') { %> <label id="labelerror"><%-inputPriceError %></label> <% } %>
			<br>
			<label for="inputAvailable"><b>Available</b></label>
			<select class="inputbox" id="inputAvailable" name="inputAvailable">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			<br>
			<input class="formbutton" type="submit" name="submit" value="Add">
			<br><br>
		</form>
	</section>
</main>
</body>

</html>