<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
						<partial name="_LoginPartial" />
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a href="UpdateInfoCustomer" class="nav-link text-dark" >Update Information</a>
							</li>
							<li class="nav-item">
								<a href="CreateOrderCustomer"  class="nav-link text-dark" >Create Order</a>
							</li>
							<li class="nav-item">
								<a href="OrdersCustomer" class="nav-link text-dark">Order History</a>
							</li>
							<li>
								<a href="LogOut" class="nav-link text-dark" >Logout</a>
							</li>
							<li>
								<a href="about" class="nav-link text-dark" >About</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>