
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/normalize.css">
    <!--link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/login.css"-->
    <script src="javascript/login.js"></script>
</head>

<body>

    <Header>
        <table>
            <tr>
                <td><img src="./images/touchlesslogo.png" alt="Restaurant Logo" /></td>
                <td>
                    <h2>Eater Food Ordering System </h2>
                </td>
            </tr>
        </table>
        <table class="formtable">
            <tr>
                <th> Welcome </th>
            </tr>
            <tr>
                <td>Are you a restaurant owner? Signup to create an online menu for your
                    restaurant to allow your customers to place online orders </td>
            </tr>
        </table>

    </Header>
    <main>
        <section>
            <h3>
                <u>
                    Registered User
                </u>
            </h3>
            <form method="POST" action="">

                <label for="email"><b> Email</b></label>
                <input class="inputbox" type="text" name="email" id="email">
                <div class="error">
                    <% if(typeof message!="undefined"){ %>
                    <%= message %>
                    <% } %>
                </div>

                <br>
                <label for="password"><b> Password</b></label>
                <input class="inputbox" type="password" name="password" id="password">
                <div class="error">
                    <% if(typeof message!="undefined"){ %>
                    <%= message %>
                    <% } %>
                </div>
                <br>
                <input class="formbutton" type="submit" class="SignIn" value="Sign In">

            </form>
            <br><br>
            <div id="forgetpassword">
                <a href="">Forget your Passowrd?</a>
            </div>
            <h3><u>New User</u></h3>
            <div id="register">
                <button onclick="window.location.href='/RegisterForm';" id="registerbutton">
                    Register(restaurant)
                </button>
                <button onclick="window.location.href='/RegisterFormCustomer';" id="registerbutton">
                    Register(customers)
                </button>
                <button onclick="window.location.href='/RegisterFormDeliveryPerson';" id="registerbutton">
                    Register(Delivery Person)
                </button>
            </div>
        </section>
    </main>
</body>

</html>