
<%- include('header') -%>
<%- include('dashboardheader') -%>
<link rel="stylesheet" href="../styles/about.css">
<script src="../javascript/about.js"></script>
<main>
	<section>
		<h1><u>About Us</u></h1>
		<h3>This Project is done by Conestoga College Computer Application Development Program Students.
			As part of their Capstone Project. Project team consists of 3 students from the class.
		</h3>
		<br>
		<h4>Nasarinbahen Kureshi </h4>
		<h4>Ankit Walia </h4>
		<h4>Subha</h4>
	
	</section>
</main>
</body>

</html>