<%- include('header') -%>
<%- include('dashboardheader') -%>
<h3 class="dashboardTitle"> Menu Items </h3>
<table class="ordertable" border="5">
	<tr>
		<th align="right">Item Number</th>
		<th align="left">Name</th>
		<th align="left">Description</th>
		<th align="right">Price</th>
		<th align="left">Available</th>
		<th align="left">Options</th>
	</tr>

	<p id="menu"></p>
	<% var itemnum = 1;
	if(typeof items != 'undefined' && items.length > 0) {
	for (let item of items){
		%><tr>
		<td align="right"><%=itemnum++;%></td>
		<td><%= item.Item %></td>
		<td><%=item.Description%></td>
		<td align="right">$<%= item.Price %></td>
		<td> <%= item.Available %></td>
		<td><a href="edit?id=<%=item.id%>"> edit</a>
			<a href="delete?id=<%=item.id%>">delete</a></td>
	</tr>
	<%}	
	}	%>
</table>

<footer>
	<a href='AddNewItem' class="btn btn-primary" style="float: right;"> Add item</a>
</footer>
</body>

</html>