
<%- include('header') -%>
<% 
var deliveryPersonNameError = '';
var addressError = '';
var telephoneError = '';
var emailError = '';
var passwordError = '';
var confirmPasswordError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'deliveryPersonName'){
            deliveryPersonNameError += error.msg;
        }
        if(error.param === 'address'){
            addressError += error.msg;
        }
        if(error.param === 'telephone'){
            telephoneError += error.msg;
        }
        if(error.param === 'email'){
            emailError += error.msg;
        }
        if(error.param === 'password'){
            passwordError += error.msg;
        }
        if(error.param === 'confirmPassword'){
            confirmPasswordError += error.msg;
        }
    }
} 
%>
</header>
<table class="formtable">
    <tr>
        <th> Register for an Account </th>
    </tr>
    <tr>
        <td>Are you a Restaurant Deliver Person? Signup to Deliver Orders for Restaurants</td>
    </tr>
</table>

<main>
    <section>
        <form method="POST" action="">
            <br>
            <label for="deliveryPersonName"> Delivery Person Name</label>
            <input class="inputbox" type="text" name="deliveryPersonName" id="deliveryPersonName">
            <% if(deliveryPersonNameError != '') { %> <label class="labelError"><%-deliveryPersonNameError %></label> <% } %>
            <br>

            <label for="address">Address</label>
            <Textarea name="address" id="address" cols="23" rows="1"></textarea>
            <% if(addressError != '') { %><label class="labelError"><%-addressError %></label> <% } %>
            <br>

            <label for="telephone"> Telephone Number</label>
            <input class="inputbox" type="text" name="telephone" id="telephone">
            <% if(telephoneError != '') { %> <label class="labelError"><%-telephoneError %></label> <% } %>
            <br>

            <label for="email"> Email Address</label>
            <input class="inputbox" type="text" name="email" id="email">
            <% if(emailError != '') { %> <label class="labelError"><%-emailError %></label> <% } %>
            <br>

            <label for="password">Password</label>
            <input class="inputbox" type="password" name="password" id="password">
            <% if(passwordError != '') { %> <label class="labelError"><%-passwordError %></label> <% } %>
            <br>

            <label for="confirmPassword">Confirm Password</label>
            <input class="inputbox" type="password" name="confirmPassword" id="confirmPassword">
            <% if(confirmPasswordError != '') { %> <label class="labelError"><%-confirmPasswordError %></label> <% } %>
            <br>

            <label for="description">Description </label>
            <textarea name="description" id="description" cols="23" rows="5"></textarea><br>

            <label for="vehicleNumber"> Vehicle Number</label>
            <input class="inputbox" type="text" name="vehicleNumber" id="vehicleNumber">
        
            <br>

            <input class="formbutton" type="submit" name="submit" value="Register">
            <br><br>
        </form>
    </section>
</main>
</body>

</html>