<%- include('header') -%>
<%- include('dashboardheader') -%>
<% 
var inputNameError = '';
var inputPriceError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'inputName'){
            inputNameError += error.msg;
		}
		if(error.param === 'inputPrice'){
            inputPriceError += error.msg;
		}
    }
} 
%>
<link rel="stylesheet" href="../styles/AddNewItemForm.css">
<table class="formtable">
	<tr>
		<th> Update Menu Item </th>
	</tr>
</table>
</header>
<main>
	<section>
		<form method="POST" action="UpdateItem">
			<br>
			<label>Item Name</label>
			<input type="text" name="inputName" id="inputName" readonly value=<%=UpdateMenu.Item%>>
			<br>
			<label for="inputDescription"><b>Item Description (Optional)</b></label>
			<Textarea name="inputDescription" id="inputDescription" cols="23" rows="5"
				placeholder="Enter the description.."><%=UpdateMenu.Description%></textarea>
			<br>
			<label for="inputPrice"><b>Price</b></label>
			<input class="inputbox" type="text" id="inputPrice" name="inputPrice" placeholder="Enter the price(number)"
				value=<%=UpdateMenu.Price%>>
			<% if(inputPriceError != '') { %> <label id="labelerror"><%-inputPriceError %></label> <% } %>
			<br>
			<label for="inputAvailable"><b>Available</b></label>
			<select class="inputbox" id="inputAvailable" name="inputAvailable" value=<%=UpdateMenu.Available%>>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
			<br>
			<input class="formbutton" type="submit" name="submit" value="Update">
			<br><br>
		</form>
	</section>
</main>
</body>

</html>