section
{
  width: 820px;
  padding-top: .25em;
}

main 
{
  padding-top: .75em;
}

#labelerror
{
  width: 300px;
  color: red;
  position: relative;
  font-weight: normal;
  
}   
