
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eater</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="../images/favicon.ico">
	<!--link rel="stylesheet" href="../styles/normalize.css">
	<link rel="stylesheet" href="../styles/main.css"-->
	<script src="../javascript/menu.js"></script>
	<script src="../javascript/orders.js"></script>
	<script src="../javascript//sampledata.js"></script>
</head>

<body>
	<header>
	<!--	<table class="headertable">
			<tr>
				<td><img src="../images/restLogo.gif" alt="Restaurant Logo" /></td>
				<th>Welcome:<%=loggedInUser%></th>
			</tr>
-->		
			
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			 
				<div class="container">
				   
					<img class ="navbar-brand" height="50px" src="../images/touchlesslogo.png" alt="Food Ordering System Icon"/>
				   
					<a class="navbar-brand" >Eater Food Ordering System</a>
				