<%- include('header') -%>
<%- include('dashboardHeaderDeliveryPerson') -%>

<h3 class="dashboardTitle"> Today's Orders </h3>
<table class="ordertable" border="5">
	<tr>
		<th align="right">Item Number</th>
		<th align="right">Order Time</th>
		<th align="left">Order Total</th>
		<th align="left">Order Details</th>
		<th align="right">Order Status</th>
		<th align="left">Options</th>
	</tr>

	<p id="menu"></p>
	<% var itemnum = 1;
	if(typeof items != 'undefined' && items.length > 0) {
	for (let item of items){
		%><tr>
		<td align="right"><%=itemnum++;%></td>
		<td><%= item.Time %></td>
		<td><%=item.Total%></td>
		<td align="right">$<%= item.Details %></td>
		<td> <%= item.Status %></td>
		<td><a href=""> Update Satus</a>
			</td>
	</tr>
	<%}	
	}	%>
</table>
</body>
</html>