
<%- include('header') -%>
<% 
var restaurantNameError = '';
var addressError = '';
var telephoneError = '';
var emailError = '';
var passwordError = '';
var confirmPasswordError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'restaurantName'){
            restaurantNameError += error.msg;
        }
        if(error.param === 'address'){
            addressError += error.msg;
        }
        if(error.param === 'telephone'){
            telephoneError += error.msg;
        }
        if(error.param === 'email'){
            emailError += error.msg;
        }
        if(error.param === 'password'){
            passwordError += error.msg;
        }
        if(error.param === 'confirmPassword'){
            confirmPasswordError += error.msg;
        }
    }
} 
%>
<!--
<link rel="stylesheet" href="../styles/RegisterForm.css">
<script src="../public/javascript/RegisterForm.js"></script>
--></header>
<table class="formtable">
    <tr>
        <th> Register for an Account </th>
    </tr>
    <tr>
        <td>Are you a restaurant owner? Signup to create an online menu for your
            restaurant to allow your customers to place online orders </td>
    </tr>
</table>

<main>
    <section>
        <form method="POST" action="">
            <br>
            <label for="restaurantName">Restaurant Name</label>
            <input class="inputbox" type="text" name="restaurantName" id="restaurantName">
            <% if(restaurantNameError != '') { %> <label class="labelError"><%-restaurantNameError %></label> <% } %>
            <br>

            <label for="address">Address</label>
            <Textarea name="address" id="address" cols="23" rows="1"></textarea>
            <% if(addressError != '') { %><label class="labelError"><%-addressError %></label> <% } %>
            <br>

            <label for="telephone"> Telephone Number</label>
            <input class="inputbox" type="text" name="telephone" id="telephone">
            <% if(telephoneError != '') { %> <label class="labelError"><%-telephoneError %></label> <% } %>
            <br>

            <label for="email"> Email Address</label>
            <input class="inputbox" type="text" name="email" id="email">
            <% if(emailError != '') { %> <label class="labelError"><%-emailError %></label> <% } %>
            <br>

            <label for="password">Password</label>
            <input class="inputbox" type="password" name="password" id="password">
            <% if(passwordError != '') { %> <label class="labelError"><%-passwordError %></label> <% } %>
            <br>

            <label for="confirmPassword">Confirm Password</label>
            <input class="inputbox" type="password" name="confirmPassword" id="confirmPassword">
            <% if(confirmPasswordError != '') { %> <label class="labelError"><%-confirmPasswordError %></label> <% } %>
            <br>

            <label for="description">Description </label>
            <textarea name="description" id="description" cols="23" rows="5"></textarea><br>

            <label for="cuisine"> Cuisine </label>
            <select class="inputbox" id="cuisine" name="cuisine">
                <option value="Chinese">Chinese</option>
                <option value="Italian">Italian</option>
                <option value="Russian">Russian</option>
                <option value="American">American</option>
            </select>
            <br>
            <input class="formbutton" type="submit" name="submit" value="Register">
            <br><br>
        </form>
    </section>
</main>
</body>

</html>