
<%- include('header') -%>
<%- include('dashboardheader') -%>
<link rel="stylesheet" href="../styles/UpdateInfo.css">
<script src="../javascript/UpdateInfo.js"></script>
<table class="formtable">
    <tr>
        <th> Update Your Account </th>
    </tr>
</table>
</header>
<main>
    <section>
        <form method="POST" action="">
            <br>
            <label for="restaurantName">Restaurant Name</label>
            <input class="inputbox" type="text" name="restaurantName" id="restaurantName"
                value=<%=restaurantInfo1.restaurantName%>>
            <label class="labelerror" id="restaurantNameError">**This is a required field</label>
            <br>

            <label for="address">Address</label>
            <Textarea name="address" id="address" cols="23" rows="1"><%= restaurantInfo1.address %></textarea>
            <label class="labelerror" id="addressError">**This is a required field</label>
            <br>

            <label for="telephone"> Telephone Number</label>
            <input class="inputbox" type="text" name="telephone" id="telephone" value=<%=restaurantInfo1.telephone %>>
            <label class="labelerror" id="telephoneError">**Enter valid format(XXX-XXX-XXXX)</label>
            <br>

            <label for="email"> Email Address</label>
            <input class="inputbox" type="text" name="email" id="email" value=<%=restaurantInfo1.email %>>
            <label class="labelerror" id="emailError">**Enter valid E-mail address</label>
            <br>

            <label for="password"> Change Password</label>
            <input class="inputbox" type="password" name="password" id="password">
            <label class="labelerror" id="passwordError">**Enter atleast 8 characters</label>
            <br>

            <label for="confirmPassword">Confirm Password</label>
            <input class="inputbox" type="password" name="confirmPassword" id="confirmPassword">
            <label class="labelerror" id="confirmPasswordError">**Password does not match</label>
            <br>

            <label for="description">Description </label>
            <textarea name="description" id="description" cols="23"
                rows="5"><%= restaurantInfo1.description %></textarea><br>

            <label for="cuisine"> Cuisine </label>
            <select class="inputbox" id="cuisine" name="cuisine" value=<%= restaurantInfo1.cuisine %>>
                <option value="Chinese">Chinese</option>
                <option value="Italian">Italian</option>
                <option value="Russian">Russian</option>
                <option value="American">American</option>
            </select>
            <br>
            <input class="formbutton" type="submit" name="submit" value="Update">
            <input class="formbutton" type="reset" name="reset" value="Reset">
            <br><br>
        </form>
    </section>
</main>
</body>

</html>