/* the styles for the elements */
body 
{
	font-family: Arial, Helvetica, sans-serif;
  	margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
	margin-right: auto;
	font-size: 100%;
}
/* the styles for the header */
header img 
{
	float: left;
	height: 50px;
}
.headertable
{
	width: 100%;  
	margin: 10px 10px;
}
.headertable th
{
	text-align: left;
	font-size: 170%;
	color: #800000;
	font-weight:bold;  
	width: 80%;
}
.headertable td	
{
	text-align: left;
}

header h2 
{
	font-size: 170%;
	color: #800000;
	font-weight:bold;  
}
header h3	
{
	font-size: 130%;
}
/* the styles for the section */
main 
{
	clear: left;
}
main a:hover,a:focus 
{
	font-style:italic;
}
.dashboardTitle
{
	margin-left: 5%;
}
.dashboardtable
{  
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	border: outset;
	border-left: none;
	border-right: none;
	border-bottom-width: 1px;
}

.dashboardtable th  
{ 
	/*background-color:  #EDDD9E;*/
	height: 30px;
	padding-left: 13px;
	padding-right: 13px;
}
.dashboardtable td  
{
	height: 30px;
	padding-left: 13px;
	padding-right: 13px;
}
.ordertable
{   
	margin-left: 5%;
    width: 90%;
    border-style: outset;
}
.ordertable th  
{ 
	background-color:#EDDD9E;
    height: 50px;
    padding-left: 13px;
	padding-right: 13px;
}
.ordertable td  
{
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
}
.ordertable tr:hover 
{
    background-color: #f0e4b5;
}
main h1
{
	position: relative;
	/* bottom: 30px;*/
	text-align: center;
}
main h2
{
	position: relative;
	text-align: center;
}
main h3
{
	position: relative;
   /* bottom: 40px;*/
	text-align: center;
}
main h4
{
	position: relative;
	 /* bottom: 40px;*/
	text-align: center;
}
main section
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #931420;
    background-color:  #fffded;
}
  .formtable
{   margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}
.formtable th 
{ 
	/*background-color:  #EDDD9E;*/
	/*	height: 30px;*/
	padding-left: 13px;
	padding-right: 13px;
	font-size: 200%;
}
.formtable td  
{
	/*	height: 30px;*/
	text-align: center;
}
main form
{
    position: relative;
    left: 220px;
    display: inline-block;
    text-align: left;
}  
  
.btn-primary
{
    width: 8%;
    background-color: #EDDD9E;
    color: black;
    padding: 14px 20px;
    margin: 8px;
    border: outset;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}	
main label
{
	font-weight: bold;
    display: inline-block;
    width: 150px;
	position: relative;
	margin: 12px;
}
main .labelerror{
    width: 300px;
    color: red;
    visibility: hidden;
    position: relative;
    font-weight: normal;
}
main textarea
{   
    position: relative;
  /*  top: 10px;*/
    resize:none ;
    height: 70px;
    width: 205px;
}
main .inputbox
{
    padding: 5px;
    width: 200px;
    position: relative;
}
main .formbutton
{
	position: relative;
	left: 200px;
    width: 150px;
    height: 40px; 
}
