<!-- Eater Food Ordering System     ------------------------------------------>
<!-- PROG8020-20S Programming Web Foundation Design and Development ---------->
<!-- Assignment-1 ------------------------------------------------------------>
<!-- Group-5 Team Members: Ankit Walia, Nasarinbahen Kureshi,Neelam, Tommy -->
<!-- Page: Register ---------------------------------------------------------->
<!-- Revision History -------------------------------------------------------->
<!-- Version     Date     Action   Member                Detail -------------->
<!-- 1.0     06/14/2020  Created  Nasarinbahen Kureshi Initial Template ------>
<!-- 2.0     06/14/2020  Updated  Ankit Walia  ------------------------------>
<%- include('customerHeader') -%>
<% 
var restaurantNameError = '';
var addressError = '';
var telephoneError = '';
var emailError = '';
var passwordError = '';
var confirmPasswordError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'restaurantName'){
            restaurantNameError += error.msg;
        }
        if(error.param === 'address'){
            addressError += error.msg;
        }
        if(error.param === 'telephone'){
            telephoneError += error.msg;
        }
        if(error.param === 'email'){
            emailError += error.msg;
        }
        if(error.param === 'password'){
            passwordError += error.msg;
        }
        if(error.param === 'confirmPassword'){
            confirmPasswordError += error.msg;
        }
    }
} 
%>
<!-- link rel="stylesheet" href="../styles/RegisterForm.css"  -->
<script src="../public/javascript/RegisterForm.js"></script>
<div class="col-md-6 ">
    <h4>Register for an Account</h4>
    <p>Want to order food online 
        ? Signup to order food online and Pickup from parking lot or get it delivered home at affordable rate</p>
</div>
<main>
    <section>
        <div class="row-text-align-center">
            <div class="col-sm-4">
                <form method="POST" action="">
                    <div class="form-group">
                        <label class="control-label" for="restaurantName">Customer Name</label>
                        <input class="form-control" name="restaurantName" id="restaurantName">
                        <% if(restaurantNameError != '') { %> <label
                            class="text-danger"><%-restaurantNameError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="address">Address</label>
                        <Textarea class="form-control" type="text" name="address" id="address"></textarea>
                        <% if(addressError != '') { %><label class="text-danger"><%-addressError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telephone"> Telephone Number</label>
                        <input class="form-control" type="text" name="telephone" id="telephone">
                        <% if(telephoneError != '') { %> <label class="text-danger"><%-telephoneError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email"> Email Address</label>
                        <input class="form-control" type="text" name="email" id="email">
                        <% if(emailError != '') { %> <label class="text-danger"><%-emailError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                        <% if(passwordError != '') { %> <label class="text-danger"><%-passwordError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
                        <% if(confirmPasswordError != '') { %> <label
                            class="text-danger"><%-confirmPasswordError %></label> <% } %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description">Description </label>
                        <textarea class="form-control" name="description" id="description" 
                           ></textarea>
                    </div>
                   
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>

</html>