<!-- Eater Food Ordering System     ------------------------------------------>
<!-- PROG8020-20S Programming Web Foundation Design and Development ---------->
<!-- Assignment-1 ------------------------------------------------------------>
<!-- Group-5 Team Members: Ankit Waliya, Nasarinbahen Kureshi,Neelam, Tommy -->
<!-- Page: Register ---------------------------------------------------------->
<!-- Revision History -------------------------------------------------------->
<!-- Version     Date     Action   Member                Detail -------------->
<!-- 1.0     06/14/2020  Created  Nasarinbahen Kureshi Initial Template ------>
<!-- 2.0     06/14/2020  Updated  Ankit Walia  ------------------------------>
<%- include('customerHeader') -%>

<!-- link rel="stylesheet" href="../styles/UpdateInfo.css" -->
<script src="../javascript/UpdateInfo.js"></script>
<div class="col-md-6 ">
    <h4> Update Your Account </h4>
</div>


<main>
    <section>
        <div class="row-text-align-center">
            <div class="col-sm-4">
                <form method="POST" action="UpdateInfo" onsubmit="return validationFunction()"
                    onreset=" return resetFunction()">
                    <div class="form-group">
                        <label class="control-label" for="restaurantName">Customer Name</label>
                        <input class="form-control" type="text" name="restaurantName" id="restaurantName"                   >
                        <label class="text-danger" id="restaurantNameError">**This is a required field</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="address">Address</label>
                        <Textarea name="address" id="address"
                            class="form-control"></textarea>
                        <label class="text-danger" id="addressError">**This is a required field</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telephone"> Telephone Number</label>
                        <input class="form-control" type="text" name="telephone" id="telephone"
                           >
                        <label class="text-danger" id="telephoneError">**Enter valid format(XXX-XXX-XXXX)</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email"> Email Address</label>
                        <input class="form-control" type="text" name="email" id="email"
                           >
                        <label class="text-danger" id="emailError">**Enter valid E-mail address</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password"> Change Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                        <label class="text-danger" id="passwordError">**Enter atleast 8 characters</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
                        <label class="text-danger" id="confirmPasswordError">**Password does not match</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description">Description </label>
                        <textarea class="form-control" name="description"
                            id="description"></textarea><br>
                    </div>
                   
                    <div class="form-group">
                        <input class="btn btn-primary"  type="submit" name="submit" value="Update">
                        <input class="btn btn-primary"  type="reset" name="reset" value="Reset">
                    </div>

                </form>


            </div>
        </div>
    </section>
</main>
</body>

</html>