<%- include('deliveryPersonHeader') -%>
<main>
	<div class="col-md-6 ">
		<h4>Today's Orders</h4> 
	</div>
	<p id="orders"></p>
	<div class="table-responsive-sm">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Order Time</th>
					<th scope="col">Order Details</th>
					<th scope="col">Restaurant Location</th>
					<th scope="col">Customer Location</th>
                    <th scope="col">Delivery Charge</th>
					<th scope="col">Options</th>
				</tr>
			</thead>
			<tbody>
				<p id="order"></p>
				<% var i = 1;
				for (i=1;i<=10;i++)
				{ %>
					<tr>
						<th scope="row"><%= i++ %></th>
						<td> "order.orderTime" </td>
						<td>order.details"</td>
						<td >$"order.total" </td>
						<td> "order.status" </td>
                        <td> order.status</td>
						<td><a href="#"> Create Delivery Request</a></td>
						<td><a href="#"> Update Delivery Status</a></td>
					</tr><%
				}
				if (typeof ordersList != 'undefined' && ordersList.length > 0){
				for (let order of ordersList){
					%><tr>
						<th scope="row">i++</th>
						<td><%=order.orderTime%></td>
						<td><%= order.details %></td>
						<td >$<%=order.total%></td>
						<td><%= order.status %></td>
                        <td><%= order.status %></td>
						<td><a href="createDeliveryRequest?id<%=orderNumber%>" > Create Delivery Request</a></td>
                        <td><a href="deliveryPersonUpdateDeliveryStatus?id<%=orderNumber%>" > Update Delivery Status</a></td>
					</tr>
				<%
				}	}	%>
			</tbody>
			
		</table>
	</div>
	
</main>
</body>
</html>