<%- include('deliveryPersonHeader') -%>

<% 
var inputNameError = '';
var inputPriceError = '';
var inputAvailableError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'inputName'){
            inputNameError += error.msg;
		}
		if(error.param === 'inputPrice'){
            inputPriceError += error.msg;
		}
		if(error.param === 'inputAvailable'){
            inputAvailableError += error.msg;
        }
    }
} 
%>
<!--
	<link rel="stylesheet" href="../styles/AddNewItemForm.css">
-->
<script src="../javascript/MenuManagement.js"></script>
<script src="../javascript//sampledata.js"></script>
<div class="col-md-6 ">
	<h4>Update Order Status</h4>
</div>
<main>
	<section>
		<div class="row-text-align-center">
			<div class="col-sm-4">
				<form method="POST" action="">

					<div class="form-group">
						<label class="control-label" for="orderNumber">Order Number</label>
						<input class="form-control" type="text" name="oderNumber" id="orderNumber">
					</div>
					<div class="form-group">
						<label class="control-label" for="customerName">Customer Name</label>
						<input class="form-control" type="text" name="customerName" id="customerName">
					</div>
					<div class="form-group">
						<label class="control-label" for="orderStatus">Order Status</label>
						<select class="form-control" id="orderStatus" required>
							<option value="PickUp">PickUp</option>
							<option value="Delivered">Delivered</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="notes"><b>Notes (Optional)</b></label>
						<Textarea class="form-control" name="notes" id="notes"
							placeholder="Enter the description.."></textarea>
					</div>
				
					<div class="form-group">
						<label class="control-label" for="pickupTime"><b>Pickup Time</b></label>
						<input class="form-control" type="text" id="pickupTime" name="pickupTime">
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryTime"><b>Delivery Time</b></label>
						<input class="form-control" type="text" id="deliveryTime" name="deliveryTime">
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryVehicle"><b>Delivery Vehicle Number</b></label>
						<input class="form-control" type="text" id="deliveryVehicle" name="deliveryVehicle"
							placeholder="Enter the Delivery Vehicle(number)">
					</div>
					<div class="form-group">
						<input class="btn btn-primary" type="submit" name="submit" value="Update">
					</div>
				</form>
			</div>
		</div>
	</section>
</main>
</body>

</html>