<%- include('header') -%>
<script src="../javascript/UpdateInfo.js"></script>
<div class="col-md-6 ">
    <h4> Update Your Account </h4>
</div>
<main>
    <section>
        <div class="row-text-align-center">
            <div class="col-sm-4">
                <form method="POST" action="UpdateInfo" onsubmit="return validationFunction()"
                    onreset=" return resetFunction()">
                    <div class="form-group">
                        <label class="control-label" for="restaurantName">Restaurant Name</label>
                        <input class="form-control" type="text" name="restaurantName" id="restaurantName"                   >
                        <label class="text-danger" id="restaurantNameError">**This is a required field</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="address">Address</label>
                        <Textarea name="address" id="address"
                            class="form-control"></textarea>
                        <label class="text-danger" id="addressError">**This is a required field</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telephone"> Telephone Number</label>
                        <input class="form-control" type="text" name="telephone" id="telephone"
                           >
                        <label class="text-danger" id="telephoneError">**Enter valid format(XXX-XXX-XXXX)</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email"> Email Address</label>
                        <input class="form-control" type="text" name="email" id="email"
                           >
                        <label class="text-danger" id="emailError">**Enter valid E-mail address</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password"> Change Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                        <label class="text-danger" id="passwordError">**Enter atleast 8 characters</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
                        <label class="text-danger" id="confirmPasswordError">**Password does not match</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description">Description </label>
                        <textarea class="form-control" name="description"
                            id="description"></textarea><br>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cuisine"> Cuisine </label>
                        <select class="form-control" id="cuisine" name="cuisine" >
                            <option value="Chinese">Chinese</option>
                            <option value="Italian">Italian</option>
                            <option value="Russian">Russian</option>
                            <option value="American">American</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary"  type="submit" name="submit" value="Update">
                        <input class="btn btn-primary"  type="reset" name="reset" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>