<%- include('restaurantHeader') -%>
<% 
var inputNameError = '';
var inputPriceError = '';
var inputAvailableError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'inputName'){
            inputNameError += error.msg;
		}
		if(error.param === 'inputPrice'){
            inputPriceError += error.msg;
		}
		if(error.param === 'inputAvailable'){
            inputAvailableError += error.msg;
        }
    }
} 
%>
<script src="../javascript/MenuManagement.js"></script>
<script src="../javascript//sampledata.js"></script>
<div class="col-md-6 ">
	<h4>Update Order Status</h4>
</div>
<main>
	<section>
		<div class="row-text-align-center">
			<div class="col-sm-4">
				<form method="POST" action="">
					<div class="form-group">
						<label class="control-label" for="orderNumber">Order Number</label>
						<input class="form-control" type="text" name="oderNumber" id="orderNumber">
					</div>
					<div class="form-group">
						<label class="control-label" for="customerName">Customer Name</label>
						<input class="form-control" type="text" name="customerName" id="customerName">
					</div>
					<div class="form-group">
						<label class="control-label" for="orderStatus">Order Status</label>
						<select class="form-control" id="orderStatus" required>
							<option value="New">New</option>
							<option value="Revised">Revised</option>
							<option value="Confirmed">Confirmed</option>
							<option value="Cancelled">Cancelled</option>
							<option value="Rejected">Rejected</option>
							<option value="Ready">Ready</option>
							<option value="PickUp">PickUp</option>
							<option value="Delivered">Delivered</option>
							<option value="Completed">Completed</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="notes">Notes (Optional)</label>
						<Textarea class="form-control" name="notes" id="notes"
							placeholder="Enter the description.."></textarea>
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryCharge">Delivery Charge</label>
						<input class="form-control" type="text" id="deliveryCharge" name="deliveryCharge"
							placeholder="Enter the Delivery Charge(number)">
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryPerson">Delivery Person</label>
						<select class="form-control" id="deliveryPerson">
							<option value="Person1">Person1 Pickup 12:40 Delivery 12:50 </option>
							<option value="Person2">Person2 Pickup 12:30 Delivery 1:10 </option>
							<option value="Person3">Person3 Pickup 12:00 Delivery 1:00 </option>
							<option value="Person4">Person4 Pickup 12:50 Delivery 1:20 </option>
							<option value="Person5">Person5 Pickup 12:20 Delivery 1:10 </option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="pickupTime">Expected Pickup Time</label>
						<input class="form-control" type="text" id="pickupTime" name="pickupTime">
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryTime">Expected Delivery Time</label>
						<input class="form-control" type="text" id="deliveryTime" name="deliveryTime">
					</div>
					<div class="form-group">
						<label class="control-label" for="deliveryVehicle">Delivery Vehicle Number</label>
						<input class="form-control" type="text" id="deliveryVehicle" name="deliveryVehicle"
							placeholder="Enter the Delivery Vehicle(number)">
					</div>
					<div class="form-group">
						<input class="btn btn-primary" type="submit" name="submit" value="Update">
					</div>
				</form>
			</div>
		</div>
	</section>
</main>
</body>
</html>