<%- include('header') -%>

<% 
var inputNameError = '';
var inputPriceError = '';
var inputAvailableError = '';
if(typeof errors !== 'undefined' && errors.length > 0) { 
    for(var error of errors){ 
        if(error.param === 'inputName'){
            inputNameError += error.msg;
		}
		if(error.param === 'inputPrice'){
            inputPriceError += error.msg;
		}
		if(error.param === 'inputAvailable'){
            inputAvailableError += error.msg;
        }
    }
} 
%>
<!--
	<link rel="stylesheet" href="../styles/AddNewItemForm.css">
-->
<script src="../javascript/MenuManagement.js"></script>
<script src="../javascript//sampledata.js"></script>
<div class="col-md-6 ">
	<h4>Add New Menu Item</h4>
</div>
<main>
	<section>
		<div class="row-text-align-center">
			<div class="col-sm-4">
				<form method="POST" action="">

					<div class="form-group">
						<label class="control-label" for="inputName">Menu item</label>
						<input class="form-control" type="text" name="inputName" id="inputName">
						<% if(inputNameError != '') { %> <label class="text-danger"><%-inputNameError %></label> <% } %>
					</div>
					<div class="form-group">
						<label class="control-label" for="inputDescription"><b>Item Description (Optional)</b></label>
						<Textarea class="form-control" name="inputDescription" id="inputDescription"
							placeholder="Enter the description.."></textarea>
					</div>

					<div class="form-group">
						<label class="control-label" for="inputPrice"><b>Price</b></label>
						<input class="form-control" type="text" id="inputPrice" name="inputPrice"
							placeholder="Enter the price(number)">
						<% if(inputPriceError != '') { %> <label class="text-danger"><%-inputPriceError %></label>
						<% } %>
					</div>
					<div class="form-group">
						<label class="control-label" for="inputAvailable"><b>Available</b></label>
						<select class="form-control" id="inputAvailable" required>
							<option value="Available">Available</option>
							<option value="Not Available">Not Available</option>
						</select>
						<% if(inputAvailableError != '') { %> <label
							class="text-danger"><%-inputAvailableError %></label>
						<% } %>
					</div>
					<div class="form-group">
						<input class="btn btn-primary" type="submit" name="submit" value="Update">
					</div>
				</form>
			</div>
		</div>
	</section>
</main>
</body>

</html>